.box {
    width: 100px; height: 100px;
    border: 1px solid red;
    background-color: yellow;
}

.box2{
    background-color: red; /* 우선선택자가 동일할경우 아래쪽이 먹힘 id> class> 마크업 > */
    position: relative; /* 상대적인 : 상대위치 : 본래 지정된 구역의 위치부터 시작*/
    top: 10px ; /* 위쪽 : 기존 위치에서부터 윗변기준으로 10px 만큼 아래로 이동  */
    left: 10px;/* 기준 위치에서 부터 왼쪽변 기준으로 50px 만큼 오른쪽 이동 */
    /* 안쪽으로 들어오는건 다 양수, 바깥은 음수 */
}

.box3 {
    background-color: green;
    position: absolute; /* 순수한- 절대적인 : 절대위치 : 부모(가장 가까운 부모) 구역의 위치 부터 시작 */
    top: 50px;/*  부모 위치에서부터 윗변 기준으로 50px 만큼 아래로 이동 */
    left: 50px; /* 부모 위치에서 부터 왼쪽변 기준으로 50px 만큼 오른쪽 이동 */
    /* absolute 는 본인 자리가 없어짐 */
    /* 사이드바나 드롭바를 만들때 주로 쓰임 */
}

.box4{
    background-color: aqua;
    position: static; /* 정적인 : 고정위치(기본값/생략가능) : top, left, right, bottom 속성 사용 불가능 */
    top: 50px; left: 50px;
}

.box5{
    background-color: gray;
    position: fixed;
    /* 고정된 : 결정된 위치 : 디바이스(전자기기 화면)의 위치 고정 */
    bottom: 10px;
    right: 10px; 
    /* 자신의 자리 없어짐 */
}

.parent{
    background-color: blue;
    padding: 10px;
    position: relative; /* 여기에 relative가 들어가서  box6가 여기로 바뀜*/
}

.box6{
    background-color: beige;
    position: absolute;/* absolute는 가장 가까운 relative 가진 조상의 기준점 */
    top: 50px;
    right: 50px;
}