/* *{ color: ;}  *//* 전체 글자 색깔이 바뀜 */

/* *전체는 별표, class는 . , id # */

h3 {color: red;} /* div로 묶여 있어도 h만 지정해서 색깔및 조정가능 */

h3 , h4 {color: blue;} /* 쉼표처리로 대량으로 색깔 및 조정도 가능 */

div > h3 {color: aqua;} /* div 바로 하위에있는 h3 마크업만 선택 */

div > .구역 {color: palevioletred;} /* 같은 구역에 동일 claas라도 이렇게 하면 바로 하위 class만 지정 */

div h3 { color: black;} /* div 마크업 안에 있는 모든 h3 선택 */