/*
    ---------- 공통 ----------
*/

/* * {
    border: 1px solid blue;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

/* input 박스 클릭시 생기는 border line 제거 */
/* input:focus {
    outline: none;
}/*

/*
    ---------- margin style ----------
*/
.hjw-top-gap10 {
    margin-top: 10px;
}

.hjw-top-gap {
    margin-top: 15px;
}

.hjw-top-gap2 {
    margin-top: 30px;
}

.hjw-top-gap40 {
    margin-top: 40px;
}

.hjw-top-big-gap {
    margin-top: 70px;
}

.hjw-bottom-gap10 {
    margin-bottom: 10px;
}

.hjw-bottom-gap {
    margin-bottom: 15px;
}

.hjw-bottom-gap40 {
    margin-bottom: 40px;
}

.hjw-right-gap {
    margin-right: 15px;
}

.hjw-top-bottom-gap {
    margin: 30px 0px;
}

/*
    ---------- padding style ----------
*/
.hjw-pad10 {
    padding: 10px;
}

.hjw-pad {
    padding: 20px;
}

.hjw-pad30 {
    padding: 30px;
}

.hjw-top-bottom-pad {
    padding: 10px 0px;
}

.hjw-top-bottom-pad2 {
    padding: 15px 0px;
}

.hjw-side-pad {
    padding: 0px 20px;
}

.hjw-top-pad5 {
    padding-top: 5px;
}

.hjw-top-pad10 {
    padding-top: 10px;
}

.hjw-top-pad15 {
    padding-top: 15px;
}

.hjw-top-pad20 {
    padding-top: 20px;
}

.hjw-top-pad30 {
    padding-top: 30px;
}

.hjw-bottom-pad {
    padding-bottom: 5px;
}

.hjw-bottom-pad10 {
    padding-bottom: 10px;
}

.hjw-bottom-pad15 {
    padding-bottom: 15px;
}

.hjw-bottom-pad20 {
    padding-bottom: 20px;
}

.hjw-right-pad10 {
    padding-right: 10px;
}

.hjw-right-pad15 {
    padding-right: 15px;
}

.hjw-right-pad20 {
    padding-right: 20px;
}

.hjw-right-pad25 {
    padding-right: 25px;
}

.hjw-right-pad30 {
    padding-right: 30px;
}

.hjw-right-pad35 {
    padding-right: 35px;
}

.hjw-right-pad40 {
    padding-right: 40px;
}

.hjw-right-pad50 {
    padding-right: 50px;
}

.hjw-right-pad60 {
    padding-right: 60px;
}

.hjw-right-pad480 {
    padding-right: 480px;
}

/*
    ---------- font-style ----------
*/
.hjw-highlight {
    font-size: 23px;
    font-weight: bold;
}

.hjw-highlight2 {
    font-size: 20px;
    font-weight: bold;
}

.hjw-small-char {
    font-size: 12px;
    color: #777777;
}

.hjw-small-char2 {
    font-size: 13px;
}

.hjw-small-char3{
    font-size: 11px;
    color: #777777;
}

.hjw-bold-char {
    font-weight: bold;
}

/*
    ---------- display style ----------
*/
.hjw-display-flex-space-between {
    display: flex;
    justify-content: space-between;
}

/*
    ---------- <li> markup style ----------
*/
.hjw-list-space-between {
    display: flex;
    justify-content: space-between;
}

.hjw-list-border-bottom-subject {
    border-bottom: 1px solid #666666;
}

.hjw-list-border-bottom-article {
    border-bottom: 1px solid #dddddd;
}

/*
    ---------- <input> markup style ----------
*/
.hjw-input-wrap {
    width: 380px;
    border: 1px solid orange;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
}

.hjw-input-wrap2 {
    width: 600px;
    border: 1px solid orange;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
}

.hjw-input-style1 {
    width: 300px;
    border: none;
    font-size: 12px;
}