/*
    ----- 헤더 크기 및 배치 조정(큰틀 조정) -----
*/

/* 헤더 전체 */
#hjw-header-wrap {
    /* 헤더 전체 중앙 배치 */
    display: flex;
    justify-content: center;
}

#hjw-header {
    /* 헤더 크기 지정 */
    width: 1100px;
}

/* 헤더 - top */
#hjw-header-top>ul {
    display: flex;
    justify-content: right;
}

#hjw-header-top>ul>a>li {
    font-size: 12px;
    color: #4d4d4d;
    font-weight: bold;
}

/* 헤더 - mid */
#hjw-header-mid>ul {
    display: flex;
    justify-content: space-between;
}

#hjw-header-mid>ul {
    display: flex;
    justify-content: space-between;
}

#hjw-header-mid>ul>li:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

#hjw-header-mid input {
    /* input 박스 클릭시 생기는 border line 제거 */
    outline: none;
}

/* 헤더 - bottom */
#hjw-header-bottom {
    display: flex;
    justify-content: space-between;
}

/* 헤더 - bottom-left */
#hjw-header-bottom-left {
    width: 220px;
    /* left + right 전체 1100px 맞추기 */
}

/* 헤더 - bottom-right */
#hjw-header-bottom-right {
    width: 880px;
    /* left + right 전체 1100px 맞추기 */
}

#hjw-header-bottom-right>ul {
    display: flex;
    justify-content: space-between;
}

/*
    =============== 아이콘 편집 관련 ===============
*/
#hjw-ico-ai>a>img {
    width: 90px;
    padding-top: 2px;
}

.hjw-ico-header-mid {
    /* 헤더 - mid 아이콘 세팅 */
    /* display: inline-block; */
    width: 30px;
    height: 50px;
    /* background-position: -58px 0px; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-image: url("img/icon/top-util-compiltaion.png");
}

#hjw-ico-header-mid-item1 {
    /* 헤더 - mid 아이콘1 */
    background-position: -160px 0px;
}

#hjw-ico-header-mid-item2 {
    /* 헤더 - mid 아이콘2 */
    background-position: -58px 0px;
}

#hjw-ico-header-mid-item3 {
    /* 헤더 - mid 아이콘3 */
    background-position: -106px 0px;
}

#hjw-ico-crown {
    /* 헤더 - bottom 왕관 아이콘 */
    display: inline-block;
    width: 35px;
    height: 17px;
    background-position: 50px 60px;
    background-image: url("img/icon/ico_btns.png");
}