*{
}
#wrap{width : 750px;
    margin: 0 auto;
}
    

a{ display: block; }

.btn{ width: 100%
    
}
.table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding : 10px;
}

.table  input{

}

.table > thead{
    background-color: rgb(255, 255, 169);
}